body{
  font-family: 'Inter', sans-serif;
}

#Header{
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  margin: 0%;
  width: 100%;
}

#Header > img{
  width: 20px;
  height: 20px;
  padding-top: 10px;
  padding-right: 10px ;
}

#Header >p{
  color: white;
}

#card-img{
  width: 50%;
  min-width: 200px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 40px;
  margin-top: 10px;
}

#course-container{
  display:flex;
}


#main-info-location{
  display: flex;
}
#main-info-location > img{
  margin-top:20px;
  width: 15px;
  height: 15px;
}

#main-info-location > a{
  margin-top: 15px;
  margin-left: 10px;
  color: #918E9B;
}

#card-title{
  margin-top: 0px;
}

#card-date{
  font-weight: bold;
}